<configuration>
    <springProperty name="APP_NAME" scope="context" source="rcvs.module-name"/>
    <springProperty name="APP_VERSION" scope="context" source="rcvs.module-version="/>
    <springProfile name="cloud,json">
        <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <fieldNames>
                    <timestamp>time</timestamp>
                    <message>msg</message>
                    <thread>[ignore]</thread>
                    <logger>class</logger>
                    <version>[ignore]</version>
                    <levelValue>[ignore]</levelValue>
                </fieldNames>
            </encoder>
        </appender>
        <root level="all">
            <appender-ref ref="consoleAppender" />
        </root>
    </springProfile>

    <springProfile name="default">
        <property name="CONSOLE_LOG_PATTERN" value="%clr(%d{HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${APP_NAME}--${APP_VERSION}){magenta} %clr(---){faint} %clr(%-40.40logger{20}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}" />
        <include resource="org/springframework/boot/logging/logback/base.xml"/>
    </springProfile>
</configuration>
